:root {
  --primary-color: #38404b;
  --secondary-color: #94adcf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0 0px 15px inset rgba(0, 0, 0, 0.278);
    padding: 20px;
    font-weight: bold;
    width: 100%;
    height: auto;
    font-size: 3vw;
    > ul {
      margin-top: 25px;
      list-style-type: none;
      display: flex;
      > li {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 30px;
      }
    }
  }
  > section {
    width: 100%;
    display: flex;
    flex-direction: column;
    > div {
      width: 100%;
      justify-content: space-evenly;
      padding: 30px;
      display: flex;
      align-items: center;
      &:first-of-type {
        > div {
          box-shadow: -1px -1px 3px inset #94adcf48, 1px 1px 3px inset #292f37;
          border-radius: 15px;
          height: 40px;
          position: relative;
          width: 40%;
          max-width: 300px;
          > * {
            border-radius: 20px;
            background-color: transparent;
            border: none;
            color: var(--secondary-color);
            height: 100%;
          }
          > input {
            width: 85%;
            padding: 0 10px;
            &:focus {
              outline: none;
            }
          }
          > button {
            width: 15%;
            position: absolute;
            right: 0;
            cursor: pointer;
            > span {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translate(-10px, -50%);
            }
          }
        }
      }
      &:last-of-type {
        flex-direction: column-reverse;
        > div {
          &:first-of-type {
            > div {
              &:first-of-type {
                display: none;
              }
              &:last-of-type {
                position: fixed;
                bottom: 10px;
                right: 10px;
                border-radius: 30px;
                width: 30px;
                height: 30px;
                box-shadow: -2px -2px 7px #94adcf48, 2px 2px 7px #292f37;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 25px;
                transition: 0.2s ease-in-out;
                background-color: var(--primary-color);
                &:hover {
                  box-shadow: -2px -2px 2px #94adcf48, 2px 2px 2px #292f37;
                }
                > input {
                  width: 85%;
                  background-color: var(--primary-color);
                  border: none;
                  color: var(--secondary-color);
                  &:focus {
                    outline: none;
                  }
                  &::placeholder {
                    color: var(--secondary-color);
                  }
                }
                > button {
                  background-color: var(--primary-color);
                  border: none;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transition: 0.2s ease-in-out;
                  > span {
                    color: var(--secondary-color);
                    &:last-of-type {
                      padding: 5px;
                      border-radius: 50%;
                      /* &:active {
                        box-shadow: -2px -2px 7px inset #94adcf48,
                          2px 2px 7px inset #292f37;
                      } */
                      &:hover {
                        box-shadow: -2px -2px 7px #94adcf48, 2px 2px 7px #292f37;
                      }
                    }
                  }
                }
              }
            }
          }
          &:last-of-type {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            > ul {
              width: 100%;
              display: flex;
              align-items: center;
              flex-direction: column;
              margin: 30px 0;
              > li {
                width: 100%;
                max-width: 500px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px 5%;
                border-radius: 15px;
                margin: 15px 0;
                box-shadow: -2px -2px 7px #94adcf48, 2px 2px 7px #292f37;
                /* text-decoration: line-through; */
                > h3 {
                  display: flex;
                  align-items: center;
                  > .checkbox {
                    border-radius: 50%;
                    width: 13px;
                    height: 13px;
                    display: block;
                    margin-right: 10px;
                    border: 3px solid var(--secondary-color);
                    cursor: pointer;
                  }
                }
                > div {
                  > span {
                    margin: 0 10px;
                    background-color: transparent;
                    border-radius: 50%;
                    padding: 7px;
                    transition: 0.2s ease-in-out;
                    cursor: pointer;
                    &:hover {
                      box-shadow: -2px -2px 7px #94adcf48, 2px 2px 7px #292f37;
                    }
                    &:active {
                      box-shadow: -2px -2px 7px inset #94adcf48,
                        2px 2px 7px inset #292f37;
                    }
                  }
                }
              }
            }
            > h2 {
              width: 100%;
              max-width: 500px;
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none;
}
.deleted {
  animation: delete 1s ease-in-out forwards;
}

@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
    min-height: 100vh;
    aside {
      width: 25%;
      height: 100%;
      min-height: 100vh;
      justify-content: space-evenly;
      font-size: 1.5rem;
      position: fixed;
      > ul {
        flex-direction: column;
        > li {
          margin: 30px 0;
        }
      }
    }
    > section {
      margin-left: calc(25vw);
      > div {
        &:last-of-type {
          flex-direction: column;
          > div {
            width: 100%;
            &:first-of-type {
              > div {
                &:first-of-type {
                  display: flex;
                  margin: -35px auto 40px;
                  box-shadow: -1px -1px 3px inset #94adcf48,
                    1px 1px 3px inset #292f37;
                  border-radius: 15px;
                  height: 50px;
                  position: relative;
                  width: 100%;
                  max-width: 500px;
                  > * {
                    border-radius: 20px;
                    background-color: transparent;
                    border: none;
                    color: var(--secondary-color);
                    height: 100%;
                  }
                  > input {
                    width: 85%;
                    padding: 0 20px;
                    &:focus {
                      outline: none;
                    }
                    &::placeholder {
                      color: var(--secondary-color);
                    }
                  }
                  > button {
                    width: 15%;
                    position: absolute;
                    right: 0;
                    cursor: pointer;
                    > span {
                      position: absolute;
                      right: 0;
                      top: 50%;
                      transform: translate(-20px, -50%);
                    }
                  }
                }
                &:last-of-type {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes delete {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(150%);
  }
}
